@model IEnumerable<ChuDe>

@{
    ViewData["Title"] = "Danh sách chủ đề";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách chủ đề</h1>

<p>
    <a asp-action="Create">Tạo chủ đề mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên chủ đề
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuDe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
